In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,StandardScaler
from sklearn.pipeline import Pipeline
from scikeras.wrappers import KerasClassifier
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping
import pickle
import warnings
warnings.filterwarnings('ignore')

In [5]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [8]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)
label_encoder_gender_tuned = LabelEncoder()
data['Gender'] = label_encoder_gender_tuned.fit_transform(data['Gender'])
onehot_encoder_geo_tuned = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo_tuned.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded,columns=onehot_encoder_geo_tuned.get_feature_names_out(['Geography']))

df = pd.concat([data.drop(['Geography'],axis=1),geo_encoded_df],axis=1)

X=df.drop('Exited',axis=1)
y=df['Exited']

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

scaler_tuned = StandardScaler()
X_train_scaled  = scaler_tuned.fit_transform(X_train)
X_test_scaled = scaler_tuned.transform(X_test)

with open('label_ecoder_gender_tuned.pkl','wb') as file:
    pickle.dump(label_encoder_gender_tuned,file)
with open('oneot_encoder_geo_tuned.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo_tuned,file)
with open('saler_tuned.pkl','wb') as file:
    pickle.dump(scaler_tuned,file)