In [1]:
import pandas as pd
import numpy as np
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [3]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [5]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [7]:
data.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
#encode categorical variable
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [17]:
onehot_encoder_geo = OneHotEncoder()
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()

In [18]:
geo_encoded

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [19]:
geo_encoded_df = pd.DataFrame(geo_encoded,columns = onehot_encoder_geo.get_feature_names_out(['Geography']))

In [20]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [21]:
data = data.drop(['Geography'],axis=1)

In [22]:
input_data = pd.concat([data,geo_encoded_df],axis=1)

In [23]:
input_data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [24]:
X = input_data.drop('EstimatedSalary',axis=1)
y=input_data['EstimatedSalary']

In [25]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [26]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [27]:
with open('onehot_encoder_geo_regression.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)
with open('label_encoder_gender_regression.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('scaler_regression.pkl','wb') as file:
    pickle.dump(scaler,file)

# ANN rregression problem statement

In [32]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [61]:
model = Sequential([
    Dense(64,activation='relu',input_shape = (X_train_scaled.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)
])

##

In [62]:
model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_9 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_10 (Dense)                │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_11 (Dense)                │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [63]:
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.losses import MeanSquaredError

In [64]:
opt = Adam(learning_rate=0.01)
loss = MeanSquaredError()

In [65]:
model.compile(optimizer=opt,loss=loss,metrics=['mae'])

In [66]:
log_dir = "logs/fit1/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [67]:
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [68]:
history = model.fit(
    X_train_scaled,y_train,validation_data = (X_test_scaled,y_test),epochs=100,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - loss: 12391208960.0000 - mae: 95692.2266 - val_loss: 3623308544.0000 - val_mae: 51361.9102
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3498368512.0000 - mae: 50624.3594 - val_loss: 3418853376.0000 - val_mae: 50437.8906
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3305181952.0000 - mae: 49507.1641 - val_loss: 3386273792.0000 - val_mae: 50262.9805
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3339691520.0000 - mae: 49747.7461 - val_loss: 3378478336.0000 - val_mae: 50215.3047
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3276645888.0000 - mae: 49079.0664 - val_loss: 3365818624.0000 - val_mae: 50147.0391
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3324277504.0000 - mae: 49765.5195 - val_loss: 3367148032.0000 - val_mae: 50203.8359
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3273387008.0000 - mae: 49274.2227 - val_loss: 3361004032.0000 - val_mae: 50098.8789
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3309046784.0000 - mae: 49644.9219 - val_loss: 3370288640.0000 - val_mae: 50164.6367
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3261217792.0000 - mae: 49118.0391 - val_loss: 3359581952.0000 - val_mae: 50101.0742
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3293425920.0000 - mae: 49397.9570 - val_loss: 3375311104.0000 - val_mae: 50217.3398
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3297804032.0000 - mae: 49470.9297 - val_loss: 3364194560.0000 - val_mae: 50151.6719
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3282969856.0000 - mae: 49442.8008 - val_loss: 3357494784.0000 - val_mae: 50050.4805
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3297158912.0000 - mae: 49532.8281 - val_loss: 3360421376.0000 - val_mae: 50127.3242
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 3275910656.0000 - mae: 49314.0742 - val_loss: 3368128256.0000 - val_mae: 50211.0430
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3257745408.0000 - mae: 49048.9609 - val_loss: 3374825216.0000 - val_mae: 50204.0039
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3292479744.0000 - mae: 49481.2266 - val_loss: 3361072640.0000 - val_mae: 50113.8008
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3219905024.0000 - mae: 48690.9062 - val_loss: 3368014080.0000 - val_mae: 50179.6914
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3277444608.0000 - mae: 49286.5664 - val_loss: 3368559872.0000 - val_mae: 50218.8125
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3219908096.0000 - mae: 48860.3320 - val_loss: 3352991744.0000 - val_mae: 50060.7188
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3299074560.0000 - mae: 49549.5273 - val_loss: 3362567936.0000 - val_mae: 50140.6367
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3284769280.0000 - mae: 49508.3398 - val_loss: 3361061632.0000 - val_mae: 50102.0117
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3225383424.0000 - mae: 48760.1094 - val_loss: 3372302592.0000 - val_mae: 50197.9297
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3266989056.0000 - mae: 49271.1992 - val_loss: 3372201472.0000 - val_mae: 50194.0547
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3228298240.0000 - mae: 48833.8906 - val_loss: 3361938944.0000 - val_mae: 50113.1484
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3245853440.0000 - mae: 48946.6641 - val_loss: 3360860928.0000 - val_mae: 50106.2383
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3293467392.0000 - mae: 49507.6055 - val_loss: 3374212096.0000 - val_mae: 50213.8750
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3251337472.0000 - mae: 49017.5859 - val_loss: 3359632640.0000 - val_mae: 50098.3477
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3257364992.0000 - mae: 49079.1055 - val_loss: 3373759232.0000 - val_mae: 50209.8750
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 3292914688.0000 - mae: 49517.4258 - val_loss: 3371660544.0000 - val_mae: 50178.5977

In [69]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [70]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [71]:
%tensorboard --logdir logs/fit1

Reusing TensorBoard on port 6006 (pid 14632), started 1:50:30 ago. (Use '!kill 14632' to kill it.)

In [72]:
# evaluate model on the test data
test_loss,test_mae = model.evaluate(X_test_scaled,y_test)
print(f'test loss:{test_loss}')
print(f'test mae:{test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 3419284992.0000 - mae: 50770.0000
test loss:3352991744.0
test mae:50060.71875